.thread {
    height: 48px;
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid orange;
    box-shadow: 1px 1px 5px orange;
    color: inherit;
    text-decoration: none;
}

.threadList {
    width: 100%;
}

.author {
    display: none;
}

.threadLink {
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.threadActions {
    margin: 8px 0;
}

.threadActionButton {
    background: none;
    border: none;
    z-index: 10;
}

.newThreadButton {
    margin-top: 8px;
    background: none;
    border: none;
    border: 1px solid orange;
    border-radius: 20px;
    box-shadow: 1px 1px 5px orange;
}

.newThreadButton:hover {
    cursor: pointer;
    color: orange;
}

.threadActionButton:hover {
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (min-width: 762px) {
    .author {
        display: inherit;
    }
}