header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 48px;
    padding: 0 10px;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: orange;
    border-bottom: 1px solid orange;
    box-shadow: 0 1px 5px;
}

header button {
    background: none;
    border: none;
}

header button:hover {
    cursor: pointer;
}

header button:focus {
    outline: none;
}

.navbar {
    position: absolute;

    top: 0;
    left: 0;

    visibility: hidden;
    transition: all 0.5s ease 0s;

    z-index: 10;

    width: 256px;
    height: 100%;
}

.navbarOpen {
    visibility: visible;
}

.navbarRegular {
    display: none;
}

.body {
    position: relative;
    z-index: 1999;
    transition: transform 0.5s ease 0s;
}

.bodyOpen {
    transform: translate3d(256px, 0, 0);
}

.content {
    padding-bottom: 64px;
    background-color: white;
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 64px - 48px - 1px);
}

footer {
    height: 64px;
    width: 100%;
    background-color: #263238;
    color: white;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.homeLink {
    text-decoration: none;
    color: inherit;
}

.modalOverlay {
    z-index: 2000;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modalBody {
    z-index: 2000;
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    #headerMenuButton {
        display: none;
    }

    .bodyOpen {
        transform: none;
    }

    .navbarMobile {
        display: none;
    }

    .navbarRegular {
        display: inherit;
        height: inherit;
        width: 256px;
    }
}